$bg-header1: #232323;
$bg-header2: #2D2D2D;
$hh-header1: 39px;
$hh-header2: 98px;
$hh-header-all: 137px;

$bg-content1: #EB3017; //#ED2C25; 
$bg-content2: #FFBF34;
$bg-content3: #FFBF34;
$bg-content4: #FFFFFF;
$bg-content5: #F1ECDA;
$bg-content6: #FFFFFF;

$hh-content1: 420px;
$hh-content2: 800px;
$hh-content3: 700px;
$hh-content4: 695px;
$hh-content5: 563px;
$hh-content6: 328px;

$bg-footer: #E93126;
$hh-footer: 450px;