$bg-header1: #000;
$bg-header2: #FE252D;
$hh-header1: 40px;
$hh-header2: 100px;

$bg-content1: #FE1B17;
$bg-content2: #FFBF34;
$bg-content3: #FFFFFF;
$bg-content4: #FFBF34;
$bg-content5: #FFFFFF;

$hh-content1: 690px;
$hh-content2: 1600px;
$hh-content3: 950px;
$hh-content4: 800px;
$hh-content5: 370px;

$bg-footer: #444444;
$hh-footer: 640px;