@import "const.scss";
@import "header.scss";
@import "top-menu.scss";
@import "content.scss";
@import "footer.scss";

* {
    box-sizing: border-box;
}

div{
  // border: 1px solid green;
}

.wrap{
  font-family: "Proxima-l", Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}

.container {
  max-width: 1400px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
} 
