@import "const.scss";
@import "header.scss";
@import "top-menu.scss";
@import "content.scss";
@import "footer.scss";

* {
    box-sizing: border-box;
}

.container {
  font-family: "Proxima-l", Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
} 

// .wrap{
//   font-family: "Proxima-l", Arial, sans-serif;
//   max-width: 1200px;
//   margin: auto;
// }

