@import "const.scss";
@import "header.scss";
@import "top-menu.scss";
@import "content.scss";
@import "footer.scss";

* {
    box-sizing: border-box;
}


.wrap{
  font-family: "Proxima-l", Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}

// .container {
//   font-family: "Proxima-l", Arial, sans-serif;
//   max-width: 1200px;
//   margin: auto;
// } 
